
div.explorerPositionArrows {
  position:absolute;
  top:200;
  right:0;
}

  div.explorerPositionArrows div.pos div.counter {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top:0px;
    text-align:center;
    color:#fff;
    background-color: #000;
    border:2px solid #fff;
    font-size:18px;
  }

  div.explorerPositionArrows div.pos.N {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/n.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

    div.explorerPositionArrows div.pos.N div.counter { //
      margin-top:34px;
      margin-left:17px;
    }

  div.explorerPositionArrows div.pos.NE {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/ne.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

    div.explorerPositionArrows div.pos.NE div.counter { //
      margin-top:34px;
      margin-right:34px;
    }

  div.explorerPositionArrows div.pos.E {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/e.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

    div.explorerPositionArrows div.pos.E div.counter { //
      margin-top:17px;
      margin-right:34px;
    }

  div.explorerPositionArrows div.pos.SE {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/se.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

    div.explorerPositionArrows div.pos.SE div.counter { //
      margin-bottom:34px;
      margin-right:34px;
    }

  div.explorerPositionArrows div.pos.S {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/s.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

    div.explorerPositionArrows div.pos.S div.counter {
      margin-bottom:34px;
      margin-left:17px;
    }

  div.explorerPositionArrows div.pos.SW {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/sw.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

    div.explorerPositionArrows div.pos.SW div.counter { //
      margin-bottom:34px;
      margin-left:34px;
    }

  div.explorerPositionArrows div.pos.W {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/w.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

    div.explorerPositionArrows div.pos.W div.counter {
      margin-top:17px;
      margin-left:34px;
    }

  div.explorerPositionArrows div.pos.NW {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/nw.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }
    div.explorerPositionArrows div.pos.NW div.counter {
      margin-top:34px;
      margin-left:34px;
    }
