//mixin with all css that depends on your style explorer
/*******************************************************************************************/
.mixinDevel(){
  .explorerContainer{
    &.explorer-container-du{ background-color: rgba( 225, 71, 71, .7 ); }
    &.explorer-container-map{ background-color: rgba( 71, 225, 118, .7 ); }
    &.explorer-container-filter{ background-color: rgba( 71, 156, 225, .7 ); }
    &.explorer-container-gallery{ background-color: rgba( 199, 198, 73, .7 ); }
  }
}
/*******************************************************************************************/
.explorerBase( @explDu-w: 100%, @explDu-h: 100%, @explMap-w: 100%, @explMap-h: 55%, @explFilter-w: 100%,
   @explFilter-h: 10%, @explGallery-w: 100%, @explGallery-h: 35% ) {

   position: relative;
   height: 100vh;

  .explorerContainer{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

    &.explorer-container-du{
      position: absolute;
      z-index: 103;
      width: @explDu-w;
      height: @explDu-h;
      display:none;
      overflow: auto;
    }
    &.explorer-loading{
      position: absolute;
      top:0px;
      left: 0px;
      z-index: 501;
      width: 100%;
      height: 100%;
      display:none;
    }
    &.explorer-container-map{
      width: @explMap-w;
      height: @explMap-h;
    }
    &.explorer-container-filter{
      width: @explFilter-w;
      height: @explFilter-h;
      overflow: auto;
    }
    &.explorer-container-gallery{
      width: @explGallery-w;
      height: @explGallery-h;
      overflow: auto;
    }
  }
}
/*******************************************************************************************/
.explorerLayoutDora( @explDu-w: 100%, @explDu-h: 100%, @explMap-w: 70%, @explMap-h: 100%, @explFilter-w: 30%,
   @explFilter-h: 15%, @explGallery-w: 30%, @explGallery-h: 85% ) {
  .explorerContainer{
    &.explorer-container-du{
      width: @explDu-w;
      height: @explDu-h;
    }
    &.explorer-container-map{
      width: @explMap-w;
      height: @explMap-h;
      float: left;
    }
    &.explorer-container-filter{
      width: @explFilter-w;
      height: @explFilter-h;
      float: right;
    }
    &.explorer-container-gallery{
      width: @explGallery-w;
      height: @explGallery-h;
      float: right;
    }
  }
}
/*******************************************************************************************/
.explorerLayoutMobile( @expl-w: 100%, @expl-h: 100% ) {
  .explorerContainer{
    &.explorer-container-du{
      width: @expl-w;
      height: @expl-h;
    }
    &.explorer-container-map{
      width: @expl-w;
      height: @expl-h;
    }
    &.explorer-container-filter{
      width: @expl-w;
      height: @expl-h;
    }
    &.explorer-container-gallery{
      width: @expl-w;
      height: @expl-h;
    }
  }
}
/*******************************************************************************************/
.explorerLayoutIndiana( @explDu-w: 100%, @explDu-h: 100%, @explMap-w: 70%, @explMap-h: 85%, @explFilter-w: 100%,
   @explFilter-h: 15%, @explGallery-w: 30%, @explGallery-h: 85% ) {
  .explorerContainer{
    &.explorer-container-du{
      width: @explDu-w;
      height: @explDu-h;
    }
    &.explorer-container-map{
      width: @explMap-w;
      height: @explMap-h;
      float: right;
    }
    &.explorer-container-filter{
      width: @explFilter-w;
      height: @explFilter-h;
    }
    &.explorer-container-gallery{
      width: @explGallery-w;
      height: @explGallery-h;
      float: left;
    }
  }
}
/*******************************************************************************************/
.explorerLayoutSagan( @explDu-w: 100%, @explDu-h: 100%, @explMap-w: 70%, @explMap-h: 100%, @explFilter-w: 400px,
   @explFilter-h: 150px, @explGallery-w: 30%, @explGallery-h: 100% ) {
  .explorerContainer{
    &.explorer-container-du{
      width: @explDu-w;
      height: @explDu-h;
    }
    &.explorer-container-map{
      width: @explMap-w;
      height: @explMap-h;
      float: left;
    }
    &.explorer-container-filter{
      width: 100%;
      max-width: @explFilter-w;
      height: @explFilter-h;
      position: absolute;
      z-index: 100;
      top: 30px;
      left: 30px;
    }
    &.explorer-container-gallery{
      width: @explGallery-w;
      height: @explGallery-h;
      float: right;
    }
  }
  &.mapFull{
    .explorer-container-map{
      width: 100%;
    }
    .explorer-container-gallery{
      display: none;
    }
  }
}
/*******************************************************************************************/


.explorerArrowLabel {
  font-weight:bold;
  font-size:13px;

  width:18px;
  height:20px;
  padding-left:5px;
  padding-top:1px;
  color:white;
  background-color:#425451;
}
