
div.explorerPositionArrows {
  position:absolute;
  top:200;
  right:0;
}


  div.explorerPositionArrows div.pos.N {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/n.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

  div.explorerPositionArrows div.pos.NE {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/ne.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

  div.explorerPositionArrows div.pos.E {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/e.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

  div.explorerPositionArrows div.pos.SE {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/se.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

  div.explorerPositionArrows div.pos.S {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/s.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

  div.explorerPositionArrows div.pos.SW {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/sw.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

  div.explorerPositionArrows div.pos.W {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/w.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }

  div.explorerPositionArrows div.pos.NW {
    background: url( '@{cogumelo_publicConf_media}/module/explorer/img/mapArrows/nw.png' ) no-repeat center center;
    width:64px;
    height:64px;
  }
