html, body {
    background-color: #eee;
    height: 100%;
}

#statisticsModule #statsParams {
    margin-bottom: 10%;
}

#statisticsModule #loading {
    display: none;
}

#statisticsModule #chart,
#statisticsModule #map {
    width: 100%;
    min-height: 600px;
    z-index: 5;
}

#statisticsModule .map {
    min-height: 180px;
    z-index: 5;
}

#statisticsModule .btn-group,
#statisticsModule #applyFilters{
    width: 100%;
}

#statisticsModule .legend {
    line-height: 18px;
    color: #555;
}
#statisticsModule .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#statisticsModule ul{
    list-style-type: none;
}

#statisticsModule .red{
    color: red;
}

#statisticsModule .filter{
    margin-left: 5%;
}

#statisticsModule .filterSelectorItem{
    cursor: pointer;
}

#statisticsModule .bootstrap-datetimepicker-widget table th{
    background: none;
}

#statisticsModule .dropdown-menu{
    z-index: 8;
}