# Add any directories, files, or patterns you don't want to be tracked by version control

# Documentacion php
/phpdoc/

# mediaserver and dependences (Default)
/httpdocs/cgmlImg/
/httpdocs/mediaCache/
/httpdocs/vendor/
/bower.*
/.bowerrc
/composer.lock

# temp form files (Default)
/formFiles/

/test/
