@mixin ionSliderAdminTheme( $gzzColor-ion-hover : #000 ){
  .irs {
      height: 55px;
  }
  .irs-with-grid {
      height: 75px;
  }
  .irs-line {
      height: 1px; top: 33px;
      background: $gzzColor-bck-8;
      //border: 1px solid #CCC;
      border-radius: 16px;
      -moz-border-radius: 16px;
  }
      .irs-line-left {
          height: 1px;
      }
      .irs-line-mid {
          height: 1px;
      }
      .irs-line-right {
          height: 1px;
      }

  .irs-bar {
      height: 1px; top: 33px;
      background: transparent;
  }
      .irs-bar-edge {
          height: 1px; top: 33px;
          width: 14px;
          border-right: 0;
          background: transparent;
          border-radius: 16px 0 0 16px;
          -moz-border-radius: 16px 0 0 16px;
      }

  .irs-shadow {
      height: 2px; top: 38px;
      background: #000;
      opacity: 0.3;
      border-radius: 5px;
      -moz-border-radius: 5px;
  }
  .lt-ie9 .irs-shadow {
      filter: alpha(opacity=30);
  }

  .irs-slider {
      top: 25px;
      width: 16px; height: 16px;
      background: $gzzColor-bck-8;
      border-radius: 16px;
      -moz-border-radius: 16px;
      cursor: pointer;
  }

  .irs-slider.state_hover, .irs-slider:hover {
      background: $gzzColor-ion-hover;
  }

  .irs-min, .irs-max {
      color: $gzzColor-text-dark;
      font-size: 12px; line-height: 1.333;
      text-shadow: none;
      top: 0;
      padding: 1px 5px;
      background: $gzzColor-bck-3;
      border-radius: 3px;
      -moz-border-radius: 3px;
  }

  .lt-ie9 .irs-min, .lt-ie9 .irs-max {
      background: #ccc;
  }

  .irs-from, .irs-to, .irs-single {
      color: $gzzColor-text-dark;
      font-size: 16px; line-height: 1.333;
      text-shadow: none;
      padding: 1px 5px;
  }
  .lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
      background: #999;
  }

  .irs-grid {
      height: 27px;
  }
  .irs-grid-pol {
      opacity: 0.5;
      background: #428bca;
  }
  .irs-grid-pol.small {
      background: #999;
  }

  .irs-grid-text {
      bottom: 5px;
      color: #99a4ac;
  }

  .irs-disabled {
  }

}
