.gzznestable {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;

  .dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    .dd-list {
      padding-left: 30px;
    }
  }

  .dd-item > button {
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    box-shadow:none;
  }
  .dd-item > button:hover {
    color: #2ea8e5;
  }
  .dd-item > button:before {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
  }
  .dd-item > button.dd-expand:before {
    content: '+';
    font-size:16px;
  }
  .dd-item > button.dd-collapse:before {
    content: '-';
    font-size:18px;
  }

  .dd-item-container{
    width:100%;
    border: 1px solid #ccc;
    background: #fff;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    color: #444;
    text-decoration: none;

    .dd-handle {
      display: block;
      height: 30px;
      line-height:30px;
      vertical-align:middle;
      margin: 5px;
      color: #333;
      text-decoration: none;
      border-radius: 3px;
      box-sizing: border-box;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;

      .icon-handle{
        float:left;
        margin: 3px 5px 3px 3px;
        height: 25px;
        line-height:25px;
        width: 25px;
        vertical-align:middle;
        text-align: center;
        color: #333;
        text-decoration: none;
        border-radius: 3px;
        cursor: pointer;

        &:hover{
          color: #2ea8e5;
        }
      }
      .term-icon{
        max-height: 25px;
        display: block;
        float: right;
        line-height:25px;
        vertical-align:middle;
        margin: 3px 10px 0px 0px ;
      }
    }

    .dd-content {
      float:right;
      display: block;
      margin: 5px;
      height: 30px;
      line-height:30px;
      vertical-align:middle;
      color: #333;
      text-decoration: none;
      font-weight: bold;
      border-radius: 3px;
      box-sizing: border-box;

      .nestableActions{
        float: right;
        max-width: 80px;
        button{
          width: 30px;
          height: 30px;
          line-height:30px;
          vertical-align:middle;
          padding: 0px;
          font-size: 20px;
          border:none;
        }
      }
    }
  }
}

.gzznestable.dd-list,
.gzznestable .dd-list,
.gzznestable .dd-item,
.gzznestable .dd-empty,
.gzznestable .dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}
.gzznestable .dd-expand {
  display: none;
}
.gzznestable .dd-collapsed .dd-list,
.gzznestable .dd-collapsed .dd-collapse {
  display: none;
}
.gzznestable .dd-collapsed .dd-expand {
  display: block;
}
.gzznestable .dd-empty,
.gzznestable .dd-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #CCCCCC;
  border: 2px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.gzznestable .dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.gzznestable.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.gzznestable.dd-dragel > .dd-item .dd-handle {

}
.gzznestable.dd-dragel .dd-handle {

}

.gzznestable.no-sortable{
  .icon-handle{ display:none; }
}
