//.iextend !optional

#menu-wrapper .sidebar li.topics{
  background: $gzzColor-positive;
  a{ color: $gzzColor-text-light; }
}

/*****************/
/*     tabla     */
/*****************/
.rowMark{
	font-size:25px;
	margin-left:25px;
}

.rowNo { color: $gzzColor-negative; }
.rowOk { color: $gzzColor-positive; }

label.resImageMoreInfo{ margin-bottom: 30px;}

// tablas recursos
.rolesTable .addElem,
.usersTable .addElem{
  display: none;
}

.resourcesintopicTable .AdminViewResourceInTopic .tableActions .addElem,
.AdminViewResource.tableContainer .addElem,
.AdminViewPage.tableContainer .addElem {
  display:none;
}

.resourcesouttopicTable .AdminViewResourceOutTopic .tableSearchFilters .tableFilters select,
.starredTable .AdminViewStarred .tableSearchFilters .tableFilters select {
  display:none;
}

.resourcesouttopicTable .AdminViewResourceOutTopic .tableActions,
.starredTable .AdminViewStarred .tableActions {
  display:none;
}



#userForm{
  .cgmMForm-field-avatar{
    text-align: center;
    .cgmMForm-titleFileField_avatar{ display: none !important; }
    img{
      @extend .img-fluid !optional;
      @extend .img-thumbnail !optional;
      width: 80%;
    }
  }

  .cgmMForm-field-submit{
    float: right;
  }
}
#changePasswordForm{
  .cgmMForm-field-submit{
    float: right;
  }
}

#userRoleForm{
  .cgmMForm-field-submit{
    float: right;
  }
}

/* FORM RESOURCE*/
ul.panelIdTags{
  position: fixed;
  background-color:$gzzColor-rest;
  z-index:10;
  width:100%;
  top:90px;
  left:0px;
  padding-left:240px;
  @media #{$mqLTTablet}{
    padding-left:20px;
    top:85px;
  }
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);

  li.tagBlock{
    font-size: 12px;
    cursor:pointer;
    display: inline-block;
    list-style-type: none;
    float:left;
    margin:2px 9px;
    color: $gzzColor-text-light;
    &:hover{
      color:$text-color;
    }
  }
}

.infoBasic{
  width:100%;
  background: white;
  font-family:$font-family-sans-serif;

  .row{
    padding:10px 0px;
    border:1px solid $gzzColor-bck-5;
    margin-top:2px;
    margin-left:0px;
    margin-right:0px;

    &.rowWhite{
      background-color: $gzzColor-bck-1 !important;
    }
    &:nth-child(2n+1){
      background-color: $gzzColor-bck-3;
    }
    .infoCol{
      text-overflow:ellipsis;
      overflow:hidden;

      text-transform: uppercase;
      font-weight:bold;
      color:$gzzColor-bck-8;
    }
    .infoColData{
      border-left: 1px solid $gzzColor-bck-5;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.rExtSocialNetwork{
  .network{
    margin: 20px 0px 40px 0px;
    textarea{height:50px;}
    .defaultBox{
      font-size:13px;
      margin:5px;
      font-style: italic;
      .text{font-weight:bold;margin:5px 0px;}
    }
  }
}

.location{

  .address {
    width:100%;
  }
  .descMap{
    text-align:center;
    padding:5px;
  }
  .locationData{
    margin-top:25px;
    .automaticBtn{ margin-top:25px;}
  }
  .locationDirections{
    margin-top:25px;
  }
}



.card {
  .row.location {
    .buttonEditLocation {
      position:absolute;
      z-index: 101;
      .startEdit {
        display:inline;
      }
      .endEdit {
        display:none;
      }
    }
    .resourceLocationFrame {
      position:relative;
      width:100%;

      .resourceLocationColumn {
        display:none;
      }
      .resourceLocationMap {
        width:100%;
        height: 250px;
      }
    }

  }

  &.locationFullScreen {
    position:fixed;
    left:10px;
    top:10px;
    width:100%;
    height:97vh;
    z-index: 100;

    .row.location {
      .buttonEditLocation {
        position:absolute;
        z-index: 101;
        .startEdit {
          display:none;
        }
        .endEdit {
          display:inline;
        }
      }

      .resourceLocationFrame {
        width:100%;
        height: 700px;
        .resourceLocationColumn {
          display:inline;
          width:30%;
          .searchBox {
            background-color: blue;
            input {
              width:200px;
            }
          }
          .locationToolBox {
            height:100px;
            background-color: red;
          }
          .locationDialog {
            height:300px;
    
          }
        }
        .resourceLocationMap {
          float:left;
          width:70%;
          height: 700px;

        }
      }

    }

  }
}

.labelOption{
  .labelText{
    margin-left:10px;
    font-weight:normal;
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;
  }

}

.cgmMForm-field-cgIntFrmId,
.cgmMForm-field-loginSubmit{
  margin-bottom: 0px;
}

.cgmMForm-field-addCollections,
.cgmMForm-field-addMultimediaGalleries,
.cgmMForm-field-rExtEventCollection_addEvents{
  float: right;
  input[type="button"]{ color: $gzzColor-rest; }
}

.cgmMForm-field-multimediaGalleries .multiListSelect2,
.cgmMForm-field-collections .multiListSelect2{
  display:none;
}


// START - Maquetaci贸n c贸digo QR (qr code)
.langSwitch-wrap[class*="langSwitch-urlAlias_"]{
  .box-btn-qrgenerator{
    float: right;
    .btn-qrgenerator{
      cursor: pointer;
      margin-left: 5px;
      padding: 5px 5px 4px;
      border: 1px solid $gzzColor-positive;
      color: $gzzColor-positive;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      &:hover{
        color: $gzzColor-positive-hover;
        border-color: $gzzColor-positive-hover;
      }
    }//.btn-qrgenerator
  }//.box-qrgenerator
}//..langSwitch-wrap[class*="langSwitch-urlAlias_"]

.popover-qrgenerator{
  max-width: 300px;
  .box-qr-image{
    .qrcode img{
      max-width: 100%;
      height: auto;
    }//.qrcode img
    .linkDownload{
      font-weight: bold;
      .lang{ text-transform: uppercase; }
    }//.linkDownload
  }//.box-qr-image
}//.popover-qrgenerator
// END - Maquetaci贸n c贸digo QR (qr code)

/*MULTIMEDIA GALLERY*/

#collectionCreate,
#collectionEdit{
  .widgetCollectionBtn{
    float: left;
    margin: 0 10px 60px 0;
    color: $gzzColor-rest;
    &:hover{ color: $gzzColor-text-light; }
  }
  div.cgmMForm-field-image{
    clear:both;
  }
}
/*FORM USER*/
#userForm input[type="submit"],
#userRoleForm input[type="submit"],
#changePasswordForm input[type="submit"]{
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-outline;
  color: $gzzColor-positive;
  background-color: transparent;
}

.resourceLocationMap {
  width:100%;
  height:300px;
}


/*ADMIN REXTCOMMENTS*/
.rextComment{
  .commentListContainer{
    .commentList{
      max-height: 400px;
      overflow: auto;
      overflow-x: hidden;
      padding-right: 10px;
      .commentItem{
        padding: 10px;
        margin: 10px 0;
        background: $gzzColor-bck-2;

        .commentTimeCreation{ font-size: 13px; }
        .commentUserInfo{
          font-weight: 600;
          font-size: 13px;
          .userVerified{ margin-left: 5px; }
        }
        .commentTypeLabel{ font-weight: 600; text-transform: uppercase; margin: 15px 10px 0 0; }
        .commentStars{ color: $gzzColor-positive; }
        .commentContent{ margin-top: 10px; }

        ul{
          list-style: none;
          li{
            margin-left: 5px;
            float:left;
            .labelText{
              display: block;
              width: 100%;
              font-size: 12px;
            }
            .btn{
              padding: 5px 10px;
              margin:0;
            }
            i{ font-size: 16px; }
          }
          &.suggestOptions{
            button.btn.selected{ color: $gzzColor-text-dark; }
          }
        }
      }// .commentItem
    }// .commentList
  }// .commentListContainer
}// .rextComment


/*ADMIN REXTROUTES*/
.rExtRoutes{
  .circularSelector{
    padding-top:10px;
    padding-bottom:10px;
  }
}

/*ADMIN REXTAUDIOGUIDE*/


.rExtAudioguide{
  @include ionSliderAdminTheme($gzzColor-positive);
  .irs-min, .irs-max{
    display: none;
  }
}
