
// Global Styles

html, body {
  height: 100%;
	margin: 0px;
}

body {
  background-color: $gzzColor-bck-3;
  position:relative;
}

ul{ padding-left: 0; }

// Wrappers
#wrapper {
  height: 100%;
  min-height: 100%;
  padding-left: 240px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &.closed{
    padding-left: 0px;
    #menu-wrapper{
      width: 0;
    }
    #menu-toggle{
      left:0px;

      i.closed{ display: block; }
      i.opened{ display: none; }
    }
    #page-wrapper{
      .headSection {
        padding-left: 30px;
      }
    }
  }
}
#menu-wrapper {
  background-color: $gzzColor-bck-8;
  height: 100%;
  width: 240px;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 11;
  border: none;
  min-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#menu-toggle{
  position:fixed;
  bottom: 0px;
  left: 240px;
  z-index: 100;
  font-size: 18px;
  padding: 8px 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 5px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius: 5px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  // @include box-shadow( inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.075) );
  i.closed{ display: none; }
  i.opened{ display: block; }
}
#page-wrapper {
  min-height: 100%;
  height:100%;
  position:relative;

  .headerActionsContainer,
  .footerActionsContainer{
    float: right;
    & > *{
      margin-left: 10px;
    }

    .dropdown-menu > .dropdown-item{
      &:active{
        color: inherit;
        background-color: initial;
      }
    }
  }
  .headSection {
    padding: 40px 30px 15px 30px ;
    padding-left: 270px;
    background-color: $gzzColor-bck-8;
    height: 90px;
    width: 100%;
    position:fixed;
    left:0;
    z-index: 10;

    h3 {
      margin: 0;
      color: $gzzColor-text-light;
      text-transform: uppercase;
      font-size: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      height: 33px;
      line-height: 45px;
    }
    .navbar-gzz-toggle {
      display: none;
      background-color: $gzzColor-positive;
      color: #fff;
      margin: 0px;
      padding: 0px 10px;
      font-size: 16px;
      height: 30px;
      position: relative;
      float: right;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 2px;
      cursor: pointer;

      &:hover{
        background-color: $gzzColor-positive-hover;
      }
      @media #{$mqLTTablet}{
        display: block;
      }
    }
  }
  .contentSection {
    padding: 150px 30px 20px 30px;
  }
  .footerSection {
    padding: 30px;
  }

}

// --MENU
#menu-wrapper{
  &.navbar{
    min-height: auto;
    margin-bottom: 0px;
  }
  .userInfo{
    .dropdown-toggle{
      min-height: 40px;
      line-height: 40px;
      vertical-align:middle;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 10px 15px;
      display: block;
      cursor: pointer;
      color: $gzzColor-text-light;
      text-decoration: none;
      &:hover{
        color: $gzzColor-positive;
        background-color: $gzzColor-rest-hover;
      }
    }
    .userAvatar{
      max-height: 40px;
      @extend .rounded !optional;
      float:left;
      margin-right: 10px;
    }
    .dropdown-menu{
      margin:0;
      background-color: $gzzColor-bck-3;
      width:100%;
      a{
        color: $gzzColor-positive;
        &:hover{
          color: $gzzColor-text-light;
          background-color: $gzzColor-positive;

        }
      }
    }
  }

  .sidebar {
    .sidebar-nav {
      padding-left: 0;
      padding-right: 0;
      .menuLogo{
        background: $gzzColor-bck-1;
        height: 90px;
        padding: 5px;
        img{
          display: block;
          height: 80px;
          margin: 0 auto;
        }
      }
    }
    ul li {
      a {
        padding: 10px 15px;
        width: 100%;
        display: block;
        background:transparent;
        color: $gzzColor-text-light;
        text-decoration: none;
        &.active {
          background-color: $gzzColor-rest;
          color: $gzzColor-text-light;
        }
        &:hover{
          background-color: $gzzColor-rest-hover;
          color: $gzzColor-text-light;
        }
      }
    }
    .arrow {
      float: right;
    }
    .fa.arrow:before {
      content: "\f104";
    }
    .mm-active > a > .fa.arrow:before {
      content: "\f107" !important;
    }
    .nav-second-level li,
    .nav-third-level li {
        border-bottom: none !important;
    }
    .nav-second-level li a {
        padding-left: 37px;
    }
    .nav-third-level li a {
        padding-left: 52px;
    }
  }

  #side-menu{
    overflow: auto;
  }
}

//Funcionamiento cabecera
@media #{$mqLTTablet}{
  // Wrappers
  #wrapper {
    padding-left: 0px;
  }
  #menu-toggle{
    display: none;
  }
  #menu-wrapper {
    position:absolute;
    width: 100%;
    height: auto;
    z-index: 9;
    top: 85px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
    .menuLogo{
      display:none;
    }
    #side-menu{
      height:auto;
    }
    .sidebar-nav { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .sidebar-nav { display: none; }
    .sidebar-nav.open{ display: block; }
  }
  #page-wrapper {
    margin-left:0px;
    .headSection {
      padding: 5px 20px 5px 20px;
      height: 85px;
      .navbar-gzz-toggle{
        float: right;
      }
      .headerTitleContainer {
        margin-bottom: 5px;
        margin-right: 40px;
      }
    }
  }
  .navbar-header { float: none; }
  .navbar-nav { float: none !important; }
  .navbar-nav>li { float: none; }
  .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
  .navbar-text { float: none; margin: 15px 0; }
}

// Login Page
.login-panel {
  margin-top: 25%;
  .initRecoveryPass{
    display: block;
    text-align: center;
    margin-top: 10px;
    cursor:pointer;
  }
  .recoveryPasswordFinalMsg,
  .recoveryPasswordForm{
    margin-top: 10px;
  }
  .recoveryPassSubmit{
    margin-top: 10px;
  }
}

//LABEL
label {
  display: block;
  &.cgmMForm{ font-weight: bold; }
  &.formError{
    margin: 5px 0px;
    border-radius: 0;
  }
}


.contentSection{
  input[type="button"]{
    @extend .btn;
    @extend .btn-info;
    @extend .btn-outline;
    background-color: transparent;
  }
}

/*Common Element Form Styles*/

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  padding: 4px 6px;
}
input[type="file"] {
  display: inline-block;
  padding: 4px 6px;
}
// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0; /* IE7 */
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

input[type="date"],
input[type="text"],
input[type="password"]{
  background-image: none;
  // @include box-shadow( inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.075) );
  -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -ms-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  border: 1px solid #cccccc;
  &:focus{
    border: 1px solid $gzzColor-geozzy;
    // @include box-shadow( inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140,215,247,.06) );
    outline: 0 none;
  }
}
textarea{
  height: auto;
  text-align: left;
  width: 100%;
  height: 200px;
  border: 1px solid #cccccc;

  &:focus{
    border: 1px solid $gzzColor-geozzy;
    // @include box-shadow( inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140,215,247,.06) );
    outline: 0 none;
  }
}



input[type="submit"],
button[type="submit"]{
  @extend .btn;
  @extend .btn-primary;
}
//CHECKBOX
input[type="checkbox"]{
  margin-right: 5px;
  margin-top:0px;
  vertical-align: middle;
}

@mixin btn-gzz($h){
  padding: #{$h}/6px #{$h}/2px;
  margin-bottom: 5px;
}

.btn{
  @include btn-gzz(30);
  text-transform: uppercase;
  /*letter-spacing: 1px;*/
}

.btn-default, .btn-info {
  color: $gzzColor-text-light;
  &:hover {
    background-color: $gzzColor-rest-hover;
  }
  &.btn-outline{
    color: $gzzColor-rest;
    border: 2px solid $gzzColor-rest;
  }
}

.btn-primary, .btn-success {
  &:hover {
    background-color: $gzzColor-positive-hover;
  }
  &.btn-outline{
    color: $gzzColor-positive;
    border: 2px solid $gzzColor-positive;
  }
}

.btn-danger, .btn-warning {
  &:hover {
    background-color: $gzzColor-negative-hover;
  }
  &.btn-outline{
    color: $gzzColor-negative;
    border: 2px solid $gzzColor-negative;
  }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-icon{
  background-color: transparent;

  &.btn-danger,
  &.btn-warning{
    color: $gzzColor-negative;

    &:hover{
      color: $gzzColor-text-light;
    }
  }

  &.btn-default,
  &.btn-info{
    color: $gzzColor-rest;

    &:hover{
      color: $gzzColor-text-light;
    }
  }

  &.btn-primary,
  &.btn-success{
    color: $gzzColor-positive;

    &:hover{
      color: $gzzColor-text-light;
    }
  }
}



/*CARDS BASE*/
.card{
  border:0;
  margin-bottom: 30px;

  .card-header{
    border:0;
    background-color: $gzzColor-bck-2;
    font-size: 18px;
  }
}

/*MODAL BASE*/
.modal{
  .modal-header{
    background: $gzzColor-bck-8;
    color: $gzzColor-text-light;
    text-transform: uppercase;
    border-radius: 0;
    h3 {
      margin: 0;
      font-size: 22px;
    }
    .close{
      color: $gzzColor-text-light;
      &:hover{
        color: $gzzColor-bck-3;
      }
    }
  }
  .modal-body{ background: $gzzColor-bck-3 }
  .modal-footer{ background: $gzzColor-bck-8 }

}

.modal-backdrop {
    opacity: 0.7;
}

/*FORM BASE*/
.cgmMForm-wrap{
  margin-bottom: 20px;
}
/*switchery*/
.switchery{
  height: 22px;

  small{
    height: 20px;
    width: 20px;
    top:1px;
  }
}


/*SELECT LANG*/
.langSwitch-wrap {
  &.langSwitch-file {
    height:30px;
  }
  .langSwitch {
    float: right;
    margin:0;
    padding:0;

    li {
      display: none;
      padding: 1px 0.5em;
      cursor: pointer;
      font-weight: bold;
      color: $gzzColor-text-light2;
      background: $gzzColor-bck-3;
      line-height: 18px;
      text-transform: uppercase;
      &:hover{
        color: $gzzColor-text-dark;
      }
    }
    &:hover li{
      display: inline;
    }
    .langActive {
      cursor: no-drop;
      display:inline;
      background: transparent;
      color: $gzzColor-text-dest;
    }
  }
}
.langSwitchIcon { margin-top:-4px; font-size: 20px; color: $gzzColor-text-dark; float: right;}

.select2-container,
select.cgmMForm-field{ width: 100% !important; }
//.select2-container .select2-search .select2-search__field{ width: auto !important; }

.select2-selection.select2-selection--multiple,
.select2-container .select2-selection--single{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #fff;
}
/*.select2-selection.select2-selection--multiple{
  background-color: $gzzColor-bck-2;
}*/
