
.nav li.topics{
  background: $gzzColor-positive;
  a{ color: $gzzColor-text-light; }
  &:hover a{ color: $gzzColor-positive; }
}



/*****************/
/*     tabla     */
/*****************/
.rowMark{
	font-size:25px;
	margin-left:25px;
}

.rowNo { color: $gzzColor-negative; }
.rowOk { color: $gzzColor-positive; }

label.resImageMoreInfo{ margin-bottom: 30px;}

// tablas recursos
.rolesTable .addElem,
.usersTable .addElem{
  display: none;
}

.resourcesintopicTable .AdminViewResourceInTopic .tableActions .addElem,
.AdminViewResource.tableContainer .addElem,
.AdminViewPage.tableContainer .addElem {
  display:none;
}

.resourcesouttopicTable .AdminViewResourceOutTopic .tableSearchFilters .tableFilters select,
.starredTable .AdminViewStarred .tableSearchFilters .tableFilters select {
  display:none;
}

.resourcesouttopicTable .AdminViewResourceOutTopic .tableActions,
.starredTable .AdminViewStarred .tableActions {
  display:none;
}



#userForm{
  .cgmMForm-field-avatar{
    text-align: center;
    .cgmMForm-titleFileField_avatar{ display: none !important; }
    img{
      .img-responsive;
      .img-thumbnail;
      width: 80%;
    }
  }

  .cgmMForm-field-submit{
    float: right;
  }
}
#changePasswordForm{
  .cgmMForm-field-submit{
    float: right;
  }
}

#userRoleForm{
  .cgmMForm-field-submit{
    float: right;
  }
}

/* FORM RESOURCE*/
ul.panelIdTags{
  position: fixed;
  background-color:$gzzColor-rest;
  z-index:10;
  width:100%;
  top:90px;
  left:0px;
  padding-left:240px;
  @media $mqLTTablet{
    padding-left:20px;
    top:80px;
  }
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);

  li.tagBlock{
    font-size:$font-size-small;
    cursor:pointer;
    display: inline-block;
    list-style-type: none;
    float:left;
    margin:2px 9px;
    color: $gzzColor-text-light;
    &:hover{
      color:$text-color;
    }
  }
}

.infoBasic{
  width:100%;
  background: white;
  font-family:$font-family-sans-serif;

  .row{
    padding:10px 0px;
    border:1px solid $gzzColor-bck-5;
    margin-top:2px;
    margin-left:0px;
    margin-right:0px;

    &.rowWhite{
      background-color: $gzzColor-bck-1 !important;
    }
    &:nth-child(2n+1){
      background-color: $gzzColor-bck-3;
    }
    .infoCol{
      text-overflow:ellipsis;
      overflow:hidden;

      text-transform: uppercase;
      font-weight:bold;
      color:$gzzColor-bck-8;
    }
    .infoColData{
      border-left: 1px solid $gzzColor-bck-5;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.rExtSocialNetwork{
  .network{
    margin: 20px 0px 40px 0px;
    textarea{height:50px;}
    .defaultBox{
      font-size:13px;
      margin:5px;
      font-style: italic;
      .text{font-weight:bold;margin:5px 0px;}
    }
  }
}

.location{
  .address {
    width:100%;
  }
  .descMap{
    text-align:center;
    padding:5px;
  }
  .locationData{
    margin-top:25px;
    .automaticBtn{ margin-top:25px;}
  }
  .locationDirections{
    margin-top:25px;
  }
}

.labelOption{
  .labelText{
    margin-left:10px;
    font-weight:normal;
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;
  }
}

.cgmMForm-field-cgIntFrmId,
.cgmMForm-field-loginSubmit{
  margin-bottom: 0px;
}

.cgmMForm-field-addCollections,
.cgmMForm-field-addMultimediaGalleries,
.cgmMForm-field-rExtEventCollection_addEvents{
  float: right;
}

.cgmMForm-field-multimediaGalleries .multiListSelect2,
.cgmMForm-field-collections .multiListSelect2{
  display:none;
}


/*MULTIMEDIA GALLERY*/

#collectionCreate,
#collectionEdit{
  .widgetCollectionBtn{ float: left; margin: 0 10px 60px 0; }
  div.cgmMForm-field-image{
    clear:both;
  }
}
/*FORM USER*/
#userForm input[type="submit"],
#userRoleForm input[type="submit"],
#changePasswordForm input[type="submit"]{
  .btn;
  .btn-primary;
  .btn-outline;
  background-color: transparent;
}

.resourceLocationMap {
  width:100%;
  height:300px;
}


/*ADMIN REXTCOMMENTS*/
.rextComment{
  .commentListContainer{
    .commentList{
      max-height: 400px;
      overflow: auto;
      overflow-x: hidden;
      padding-right: 10px;
      .commentItem{
        padding: 10px;
        margin: 10px 0;
        background: $gzzColor-bck-2;

        .commentTimeCreation{ font-size: 13px; }
        .commentUserInfo{
          font-weight: 600;
          font-size: 13px;
          .userVerified{ margin-left: 5px; }
        }
        .commentTypeLabel{ font-weight: 600; text-transform: uppercase; margin: 15px 10px 0 0; }
        .commentStars{ color: $gzzColor-positive; }
        .commentContent{ margin-top: 10px; }

        ul{
          list-style: none;
          li{
            margin-left: 5px;
            float:left;
            .labelText{
              display: block;
              width: 100%;
              font-size: 12px;
            }
            .btn{
              padding: 5px 10px;
              margin:0;
            }
            i{ font-size: 16px; }
          }
          &.suggestOptions{
            button.btn.selected{ color: $gzzColor-text-dark; }
          }
        }
      }// .commentItem
    }// .commentList
  }// .commentListContainer
}// .rextComment


/*ADMIN REXTROUTES*/
.rExtRoutes{
  .left-column{
    margin-top:11px;
    .circularSelector{
      padding-top:10px;
      padding-bottom:10px;
    }
  }
}

/*ADMIN REXTAUDIOGUIDE*/


.rExtAudioguide{
  .ionSliderAdminTheme($gzzColor-positive);
  .irs-min, .irs-max{
    display: none;
  }
}
