@adminBaseColor : #1e90ff;


.nav li.topics{
  background: @adminBaseColor;

  a{ color: #fff; }

  &:hover a{ color: @adminBaseColor; }

}

//Color Admin
strong,
a{ color: @adminBaseColor; }


.gzzAdShowUser h4.nickname{
  margin: 5px;
}

.taxTermActions{ float: right; max-width: 80px;}
.dd-handle{ height: auto; }

