@import "/admin/classes/view/templates/styles/adminVars.less";

.nav li.topics{
  background: @gzz-color;

  a{ color: #fff; }

  &:hover a{ color: @gzz-color; }

}

//Color Admin
strong,
a{ color: @gzz-color; }

// tabla
.rowMark{font-size:25px;margin-left:25px;}
.rowNo{color:red;}
.rowOk{color:green;}