
.nav li.topics{
  background: @gzzColor-positive;
  a{ color: @gzzColor-text-light; }
  &:hover a{ color: @gzzColor-positive; }
}


/*****************/
/*     tabla     */
/*****************/
.rowMark{
	font-size:25px;
	margin-left:25px;
}

.rowNo { color: @gzzColor-negative; }
.rowOk { color: @gzzColor-positive; }

.assignResource { margin-left:10px; }

// tablas recursos
.resourcesintopicTable .AdminViewResourceInTopic .tableActions .addElem,
.AdminViewResource.tableContainer .addElem {
  display:none;
}

.resourcesouttopicTable .AdminViewResourceOutTopic .tableSearchFilters .tableFilters select,
.starredTable .AdminViewStarred .tableSearchFilters .tableFilters select {
  display:none;
}

.resourcesouttopicTable .AdminViewResourceOutTopic .tableActions,
.starredTable .AdminViewStarred .tableActions {
  display:none;
}



#userForm img{
  .img-circle;
  max-width:150px;
}

/* FORM RESOURCE */
.infoBasic ul{
  li{
    margin-top:10px;
    list-style:none;
    label{
      width:100%;
      max-width: 130px;
      border-right:1px solid #555;
      float:left;
    }
    span{
      margin-left:10px;
    }
  }
}


.cgmMForm-field-cgIntFrmId,
.cgmMForm-field-loginSubmit{
  margin-bottom: 0px;
}

.cgmMForm-field-multimediaGalleries .multiListSelect2,
.cgmMForm-field-collections .multiListSelect2{
  display:none;
}


/*FORM USER*/
#userForm input[type="submit"],
#userRoleForm input[type="submit"],
#changePasswordForm input[type="submit"]{
  .btn;
  .btn-primary;
  .btn-outline;
  background-color: transparent;
}

#resourceLocationMap {
  width:100%;
  height:300px;
}
