@import "/admin/classes/view/templates/styles/adminVars.less";

// Global Styles

html, body {
  height: 100%;
	margin: 0px;
}

body {
  background-color: @gzz-bck-light-3;
  position:relative;
}

// Wrappers
#wrapper {
  height: 100%;
  min-height: 100%;
}
#menu-wrapper {
  background-color: @gzz-bck-light-1;
  height: 100%;
  width: 240px;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 11;
}
#page-wrapper {
  min-height: 100%;
  height:100%;
  margin-left:240px;
  position:relative;

  .headerActionsContainer,
  .footerActionsContainer{
    float: right;
  }
  .headSection {
    border-bottom: 3px solid @gzz-color;
    padding: 20px ;
    padding-left: 260px;
    background-color: @gzz-bck-dark-1;
    height: 75px;
    width: 100%;
    position:fixed;
    left:0;
    z-index: 10;

    h2 {
      margin: 0;
      color: @gzz-color;
    }
  }
  .contentSection {
    padding: 95px 20px 20px 20px;
  }
  .footerSection {
    border-top: 3px solid @gzz-bck-light-2;
    padding: 20px;
  }

}



// Login Page

.login-panel {
  margin-top: 25%;
}

// --MENU

#menu-wrapper{
  .userInfo{
    .dropdown-toggle:hover{
      color: @gzz-color;
    }
    .dropdown-menu{
      margin:0;
      background-color: @gray-lighter;
      width:100%;
      a{
        color: @gzz-color;
        &:hover{
          color: white;
          background-color: @gzz-color;

        }
      }
    }
  }
  .navbar{
    border: none;
  }
  .sidebar {
    .sidebar-nav.navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
    ul li {
      a {
        &.active {
          background-color: @gzz-bck-dark-1;
          color: @gzz-color;
        }
        &:hover{
          color: @gzz-color;
        }
      }
    }
    .arrow {
      float: right;
    }
    .fa.arrow:before {
      content: "\f104";
    }
    .active > a > .fa.arrow:before {
      content: "\f107";
    }
    .nav-second-level li,
    .nav-third-level li {
        border-bottom: none !important;
    }
    .nav-second-level li a {
        padding-left: 37px;
    }
    .nav-third-level li a {
        padding-left: 52px;
    }
  }

  #side-menu{
    overflow: auto;
  }
}





// Buttons
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger{
  border: none;
}

.btn-default {
  color: @gzz-color;
}
.btn-primary {
  background-color: @gzz-color;
  &:hover {
    background-color: @gzz-color - #111111;
  }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: @gzz-color;
    border: 1px solid @gzz-color;
}
.btn-default.btn-outline {
    color: #fff;
    border: 1px solid #fff;
    &:hover {
      color: @gzz-color;
    }
}

.btn-danger.btn-outline {
    color: @brand-danger;
    border: 1px solid @brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}






@media screen and (min-width: 1200px) {

} /*1200px*/

@media screen and (max-width: 1199px) {

}/*1199px*/

@media screen and (max-width: 991px) {
  #menu-wrapper {
    display:none;
  }
  #page-wrapper {
    margin-left:0px;
    .headSection {
      padding-left: 20px;
    }
  }
}/*991px*/

@media screen and (max-width: 767px) {


} /*767px*/
