@adminBaseColor : #1e90ff;


.nav li.topics{
  background: @adminBaseColor;
  margin: 10px 0px;

  a{ color: #fff; }

  &:hover a{ color: @adminBaseColor; }

}

//Color Admin
strong,
a{ color: @adminBaseColor; }


.gzzAdShowUser h4.nickname{
  margin: 5px;
}