@import "/admin/classes/view/templates/styles/adminVars.less";

// Global Styles

body {
  background-color: @gzz-bck-light-3;
}

// Wrappers

#wrapper {
  width: 100%;
  height:100%;
}
#menu-wrapper {
  background-color: @gzz-bck-light-1;
  height: 100%;
  width: 240px;
  position:fixed;
  top:0px;
  left:0px;
}
#page-wrapper {
  height: 100%;
  margin-left:240px;
}
  #page-wrapper .contentSection {
    padding: 20px;
  }


// Login Page

.login-panel {
  margin-top: 25%;
}

// --MENU

#menu-wrapper{
  .userInfo{
    .dropdown-toggle:hover{
      color: @gzz-color;
    }
    .dropdown-menu{
      margin:0;
      background-color: @gray-lighter;
      width:100%;
      a{
        color: @gzz-color;
        &:hover{
          color: white;
          background-color: @gzz-color;

        }
      }
    }
  }
  .navbar{
    border: none;
  }
  .sidebar {
    .sidebar-nav.navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
    ul li {
      a {
        &.active {
          background-color: @gzz-bck-dark-1;
          color: @gzz-color;
        }
        &:hover{
          color: @gzz-color;
        }
      }
    }
    .arrow {
      float: right;
    }
    .fa.arrow:before {
      content: "\f104";
    }
    .active > a > .fa.arrow:before {
      content: "\f107";
    }
    .nav-second-level li,
    .nav-third-level li {
        border-bottom: none !important;
    }
    .nav-second-level li a {
        padding-left: 37px;
    }
    .nav-third-level li a {
        padding-left: 52px;
    }
  }

  #side-menu{
    height: -moz-calc(100% - (200px));
    height: -webkit-calc(100% - (200px));
    height: calc(100% - (200px));

    height:30%;
    overflow: auto;
  }
}





// Buttons
/*
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: @brand-primary;
}

.btn-success.btn-outline {
    color: @brand-success;
}

.btn-info.btn-outline {
    color: @brand-info;
}

.btn-warning.btn-outline {
    color: @brand-warning;
}

.btn-danger.btn-outline {
    color: @brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}
*/
