

@import "vendor/yarn/bootstrap/scss/bootstrap.scss";
@import "/admin/classes/view/templates/styles/_adminVars.scss";

@import "/admin/classes/view/templates/styles/themeLibs/_ionSliderAdminTheme.scss";

@import "/admin/classes/view/templates/styles/_adminBase.scss";
@import "/admin/classes/view/templates/styles/_adminNestable.scss";
@import "/admin/classes/view/templates/styles/_adminContents.scss";
@import "/admin/classes/view/templates/styles/_adminAppExt.scss";
