/*STYLES*/
#registerOkModal,
#loginModal{
  .modal-dialog{
    .modal-content{
      .modal-body{
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
      }//.modal-body
    }//.modal-content
  }//.modal-dialog
} //.modal
