.dateRangePickerTheme( @colorDatePicker : @gzzColor-geozzy ){
  .daterangepicker{
    .calendar{
      .calendar-table{
        .table-condensed{
          thead{
            th{
              border-radius: 0;
              background: @gzzColor-bck-4;
            }
          }//thead

          tbody{
            td{
              &.start-date{
                background: @colorDatePicker;
                &.in-range{ background: @colorDatePicker; }
                &.off{ background: none; }
              }

              &.in-range{
                background: @gzzColor-bck-3;
                &.end-date{ background: @colorDatePicker; }
                &.off{ background: none; }
              }
            }
          }//tbody
        }//.table-condensed
      }//.calendar-table
    }//.calendar
  }//.daterangepicker
}//.dateRangePickerTheme
