#
# ---- Cogumelo's .htaccess File ----
#



<IfModule mod_php5.c>
  # PHP script time limit
  php_value max_execution_time 180
</IfModule>
<IfModule mod_php7.c>
  # PHP script time limit
  php_value max_execution_time 180
</IfModule>



Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.html index.htm index.php



RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [END]


RewriteCond "^cgmlImg/"
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ /index.php [END]

