
# logs (Default)
/app/log/

# backups (Default)
/app/backups/

# temp (Default)
/app/tmp/

# mediaserver and dependences (Default)
/httpdocs/cgmlImg/
/httpdocs/mediaCache/
/httpdocs/vendor/
/bower.*
/.bowerrc
/composer.json
/composer.lock

# temp form files (Default)
/formFiles/


# private info
/app/conf/inc/default-connections-info.php
