
# logs
/app/log/

# backups
/app/backups/

# private info
/app/conf/default-connections-info.php

# temp
/app/tmp/

# mediaserver and dependences
/httpdocs/mediaCache/
/httpdocs/vendor/
/bower.*
/composer.json
/composer.lock

# temp form files
/formFiles/

