# Documentacion php
/phpdoc/

# mediaserver and dependences (Default)
/httpdocs/cgmlImg/
/httpdocs/mediaCache/
/httpdocs/vendor/
/bower.*
/.bowerrc
/composer.json
/composer.lock

# temp form files (Default)
/formFiles/

