//mixin with all css that depends on your style explorer
/*******************************************************************************************/
.mixinDevel(){
  #travelPlannerSec{
    .travelPlanner{
      .travelPlannerList{
        background-color: rgba( 71, 225, 118, .5 );
      }//travelPlannerList
      .travelPlannerPlan{ background-color: rgba( 71, 156, 225, .7 );
        .travelPlannerPlanHeader{  background-color: rgba( 199, 198, 73, .7 ); }
        .travelPlannerPlanContent{ background-color: rgba( 225, 71, 71, .5 ); }
      }//travelPlannerPlan
    }
  } //#travelPlannerSec

}
/*******************************************************************************************/
.travelPlanner( @tp-h: 100vh, @tpList-w: 320px, @tpList-h: 100%, @tpFilters-h: 140px, @colorDays:#333 ) {
  #travelPlannerSec{
    padding: 0;
    margin: 0;
    .travelPlanner{
      position: relative;
      min-height: @tp-h;

      .travelPlannerList{
        width: @tpList-w;
        height: @tpList-h;
        position: fixed;
        padding: 20px;
        .travelPlannerFilters{
          position: fixed;
          width: @tpList-w;
          height: @tpFilters-h;
          z-index: 103;
        }
        .travelPlannerResources{
          overflow: auto;
          height: calc(~'100% -' @tpFilters-h);
          margin-top: @tpFilters-h;
        }
      }//travelPlannerList

      .travelPlannerPlan{
        margin-left: @tpList-w;
        min-height: 500px;
        padding: 20px;

      }//travelPlannerPlan

    }
  } //#travelPlannerSec
  #resourceTpModal{
    .resourceTp{
      .selectorDays{
        list-style: none;
        list-style-type: none;
        li{
          cursor: pointer;
          border: 1px solid @colorDays;
          float: left;
          width: calc(~ '25% - 4px' );
          padding: 10px;
          margin: 2px;
          &.active{
            color: white;
            background: @colorDays;
          }
        }
      }
    }
  }
} //.travelPlanner()
