@import "primary.less";

.bodyContent{
  background-color: @gzzColor-text-light;

  .gzSection{
    /* Todos os segmentos */
  }

  .titleSec{



    h1{font-size:22px;margin-left:50px;}

    img{position:absolute;
    left:0px;top:5px;}

    .stars{margin-top:22px;}
  }

  .contentSec{
    background-color: @gzzColor-text-light;

    .typeBar{
      height:30px;
      .type{margin-top:15px;font-size:16px;}

      .social{margin-top:10px;}
    }

    .shortDescription{
      padding:20px;
      font-size:20px;
    }

    .mediumDescription{
      margin-top:30px;
      text-align:justify;
    }
  }

  .locationSec{
    background-color: #46D3EF;
    color:#fff;

    .directions{height:70px;border-top:1px solid #fff;}

    .location{
      height:225px;
      padding:10px;

      .rExtContact{
        label{display:none;}
      }
    }




    .map{height:620px;background-color:orange;}

  }

}
