@import "primary.less";
@import "select2ThemeGA.less";
@import "/explorer/classes/view/templates/styles/explorerMixins.less";

.explorerLayout{
  //.mixinDevel();
  .explorerBase( @explFilter-h: 8%,  @explGallery-h: 36%,  @explMap-h: 56% );
}

.paisaxesExplorer{
  position: fixed;
  top:100px;
  width: 100%;

  .explorerMap{
    width: 100% !important;
    height: 100% !important;
  }

  .explorer-container-filter{
    .explorerFilterElement{
      float:left;
      margin: 0 10px;

      &.select2GeozzyCustom{
        .select2Theme( @width: 200px, @height: 45px, @bckHeader: #90C147, @colorHeader: #fff);
      }//.select2GeozzyCustom
      &.select2GeozzyRed{
        .select2Theme( @width: 200px, @height: 45px, @bckHeader: #CD4C56, @colorHeader: #fff);
      }//.select2GeozzyRed
    }
  }
}

.select2-dropdown{
  .select2ListTheme();
}
