@import "primary.less";

.headContent{
  &.transparent{ background: transparent; }
}

.bodyContent{
  padding-top: 0;
  .gzzSec{
    &.secImage{
      width: 100%;
      height: 60vh;
      background: url("/media/img/photo-GA.jpg") no-repeat scroll center center / cover;
    }
    &.secSegredos{

    }
  }//gzzSec
}//bodyContent
