@import "primary.less";
@import "/explorer/classes/view/templates/styles/explorerMixins.less";

.explorerLayout{
  //.mixinDevel();
  .explorerBase( );
  .explorerLayoutSagan( @explDu-w: 100%, @explDu-h: 100%, @explMap-w: 60%, @explMap-h: calc(~"100% - "@headerTitleBarHeight ), @explFilter-w: 300px,
     @explFilter-h: auto, @explGallery-w: 40%, @explGallery-h: calc(~"100% - "@headerTitleBarHeight ) );
}

.xantaresExplorer{
  position: fixed;
  top: @headerTitleBarHeight;
  width: 100%;

  .explorer-container-map{
    position: relative;
    .explorerMap{
      width: 100% !important;
      height: 100% !important;
    }
    .explorerFilterElement.filterZona{
      position: absolute;
      right: 20px;
      top: 20px;
      .filterZonaMapContainer{
        .filterZonaMap_openFilter{
          .filterZonaMap_arrow{
            font-size: 28px;
          }
          .filterZonaMap_selected{
            text-transform: uppercase;
          }
          svg{
            width: 30px;
            height: 30px;
            path{
              fill: @gzzColor-xantares !important;
            }
          }
        }
        .filterZonaMap_opts{
          right: 0px;
          z-index: 2;

          .zonaMap{
            path{
              fill: @gzzColor-xantares !important;
            }
          }
          .zonaMap_reset{
            color: white;
            background-color: @gzzColor-xantares;
          }
        }//filterZonaMap_opts
      }//.filterZonaMapContainer

    }
  }
  .explorer-container-filter{
    .filters_fixed{
      position: relative;
      background-color: @gzzColor-bck-9;
      height: 65px;
      ul{
        padding: 5px 10px;
        list-style: none;
        li{
          cursor:pointer;
          list-style: none;
          float: left;
          margin: 5px;
          height: 36px;
          width: 36px;
          .icon{}
          .iconHover{ display: none;}
          .iconSelected{ display:none;}
          .title{
            display:none;
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 100%;
            text-align: center;
            font-size: 11px;
            font-weight: bold;
            color: @gzzColor-text-light;
          }

          &:hover{
            .icon{ display: none;}
            .iconHover{ display: block;}
            .title{ display:block; }
          }
          &.selected{
            .icon{ display: none;}
            .iconHover{ display: none;}
            .iconSelected{ display: block;}
          }
        }
      }
    }
    .filters_advancedContainer{
      cursor: pointer;
      padding: 5px 20px;
      background-color: @gzzColor-bck-1;
      .filters_openFilters{
        padding: 5px 0px;
        text-transform: uppercase;
        font-size: 14px;
        .fa-caret-up{ display:none; font-size: 24px; color: @gzzColor-xantares; float: right; margin-top: -3px;}
        .fa-caret-down{ display:inline; font-size: 24px; color: @gzzColor-xantares; float: right; margin-top: -3px; }
      }
      .filters_advancedFilters{
        border-top: 1px solid @gzzColor-bck-8;
        padding: 5px 0px;
        background-color: @gzzColor-bck-1;
        height: 300px;
        display:none;
      }
      .filters_resume{        
      }

      &:hover{
        .filters_openFilters{
          .fa-caret-up{ display: inline; }
          .fa-caret-down{ display:none; }
        }
        .filters_advancedFilters{
          display:block;

        }
        .filters_resume{
          display:none;
        }
      }
    }
  }
  .explorer-container-gallery{
    border-top: 1px solid @gzzColor-bck-4;
    border-left: 5px solid @gzzColor-bck-4;
    padding: 10px 20px;
    position: relative;

    .element{
      margin: 10px 0px;
      position: relative;
      cursor:pointer;

      .elementImg{
        position: relative;
        overflow: hidden;

        img{
          width: 100%;

          -webkit-transform: scale(1, 1); /* Saf3.1+, Chrome */
          -moz-transform: scale(1, 1); /* FF3.5+ */
          -ms-transform: scale(1, 1); /* IE9 */
           -o-transform: scale(1, 1); /* Opera 10.5+ */
              transform: scale(1, 1);
        }
        .elementOptions{
          margin: 0px;

          li.elementFav{
            position: absolute;
            top: 0px;
            left: 25px;
            background-color: rgba( 255, 255, 255, 0.7);
            padding: 10px;
            font-size: 24px;
            display: none;
            .commonFav;
          }//li.elementFav
        }//.elementOptions
      }//.elementImg

      .elementInfo{
        position: relative;
        .elementTitle{
          margin-top: 5px;
          font-size: 18px;
          padding-right: 160px;
        }
        .elementType{
          padding-right: 160px;
        }
        .elementPrice{
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 28px;
          font-weight: bold;
          span{
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }//elementInfo
      &:hover{
        .elementOptions li.elementFav{ display: block; }
        .elementImg img{
          -webkit-transform: scale(1.08, 1.1); /* Saf3.1+, Chrome */
          -moz-transform: scale(1.08, 1.1); /* FF3.5+ */
          -ms-transform: scale(1.08, 1.1); /* IE9 */
           -o-transform: scale(1.08, 1.1); /* Opera 10.5+ */
              transform: scale(1.08, 1.1);
          transition-duration: 450ms;
          transition-timing-function: ease-out;
          -webkit-filter: brightness(0.8);
           filter: brightness(0.8);
        }
      }//element:hover
    }//.element
  }//.explorer-container-gallery
}



#geozzyExplorerMapInfo{
  width: 100%;
  max-width: 270px;
  height: 340px;
  border: 5px solid rgba( 255, 255, 255, 0.4);
  overflow: hidden;

  .gempiContent{
    background: @gzzColor-bck-1;
    padding-bottom: 20px;
    .gempiInfo{
      .gempiTitle,
      .gempiDescription{
        padding: 5px 10px;
        background: @gzzColor-bck-1;
      }
      .gempiTitle{
        text-align: justify;
        color: #555;
        font-size: 16px;
        height: 48px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .gempiDescription{
        text-align: justify;
        font-size: 13px;
        line-height: 15px;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }//.gempiInfo
  }//.gempiContent
}


/**************************************************************************************/
/**************************************************************************************/
/**********************  RESPONSIVE MEDIA QUERIES  ************************************/
/**************************************************************************************/
/**************************************************************************************/
@media screen and (min-width: 1200px) {

} /*1200px*/
@media screen and (max-width: 1199px) {

}/*1199px*/
@media screen and (max-width: 991px) {

}/*991px*/
@media screen and (max-width: 767px) {

} /*767px*/
