@import "primary/primary.less";
@import "themeLibs/select2ThemeGA.less";
@import "/explorer/classes/view/templates/styles/explorerMixins.less";
@import "common/explorerCommon.less";
@import "common/explorerCommonBase.less";

.explorerLayout{
  //.mixinDevel();
  .explorerBase( @explFilter-h: 50px,  @explGallery-h: auto,  @explMap-h: 52% );
}



#geozzyExplorerMapInfo {

  .gempiContent.rincons{

    .gempiInfo{


      .gempiRouteDetails {
        font-size:14px;
        background-color:@gzzColor-bck-7;
        color:#fff;

        padding-left:10px;
        padding-right:10px;

        .dificultad {
          float:right;


          .barraEsfuerzo{
            margin-top:3px;
            margin-left:10px;
            float:right;
            background: url("@{cogumelo_publicConf_media}/module/rextRoutes/img/esforzoSmall.png") 0px 0px;
            width:80px;
            height:14px;

            &.ruta_0{background-position: 0px 0px;}
            &.ruta_1{background-position: 0px -14px;}
            &.ruta_2{background-position: 0px -31px;}
            &.ruta_3{background-position: 0px -48px;}
            &.ruta_4{background-position: 0px -65px;}
            &.ruta_5{background-position: 0px -82px;}
          }
        }

      }


      .gempiTitle{
        height: 20px;
        line-height: 20px;
        padding-bottom:0px;
      }

      .gempiDescription{
        padding-top:0px ;
        height:60px;
      }

      .routeGraph {

        width:100%;
        height:62px;
        margin-top:0px;
      }

    }
  }//.gempiContent
}



.paisaxesExplorer{
  .explorer-container-filter{
    .explorerFilters{
      .explorerFilterElement{
        &.select2GeozzyCustom{
          img{
            width: 32px;
            height: 32px;
            position: static;
          }
          .select2Theme( @width: 260px, @height: 42px, @bckHeader: @gzzColor-paisaxes, @colorHeader: @gzzColor-bck-1);
        }//.select2GeozzyCustom
        .filterZonaMapContainer{
          .filterZonaMap_openFilter{
            svg{
              path{
                fill: @gzzColor-paisaxes !important;
              }
            }
          }
          .filterZonaMap_opts{
            .zonaMap{
              path{
                fill: @gzzColor-paisaxes !important;
              }
            }
            .zonaMap_reset{
              color: white;
              background-color: @gzzColor-paisaxes;
            }
          }
        }
      }
    }
  }
  .explorer-container-gallery{
    .explorerListPager{
      div{
        &:hover{ color: @gzzColor-paisaxes; }
      }
      .currentPage{
        color: @gzzColor-paisaxes;
      }
      .previous,
      .next{
        &:hover{ color: @gzzColor-paisaxes; }
      }
    }
  }
}

.select2-container--default .select2-results > .select2-results__options{
  max-height: none;
}
/**************************************************************************************/
/**************************************************************************************/
/**********************  RESPONSIVE MEDIA QUERIES  ************************************/
/**************************************************************************************/
/**************************************************************************************/
.touch{
  #geozzyExplorerMapInfo{
    .gempiContent{
      .gempiTouchAccess{
        button{
          border: none;
          background-color: @gzzColor-paisaxes;
          &:hover{ background-color: @gzzColor-paisaxes-hover; }
        }//button
      }//.gempiTouchAccess
    }//.gempiContent
  }//#geozzyExplorerMapInfo
}//.touch

@media screen and (min-width: 1200px) {

} /*1200px*/
@media screen and (max-width: 1199px) {

}/*1199px*/
@media screen and (max-width: 991px) {

}/*991px*/
@media screen and (max-width: 767px) {

} /*767px*/
