@import "primary.less";
@import "/explorer/classes/view/templates/styles/explorerMixins.less";

.explorerLayout{
  .mixinDevel();
  .explorerBase( );
  .explorerLayoutSagan( );
}

.xantaresExplorer{
  position: fixed;
  top:100px;
  width: 100%;

  .explorerMap{
    width: 100% !important;
    height: 100% !important;
  }
}
