@import "primary/primary.less";

.bodyContent{

  .myInfo{
    padding-top: 20px;
    .infoPersonal{
      text-align: center;
      .commImage{
        padding-bottom: 20px;
        img{
          width: 250px;
          height: 250px;
          border-radius: 50%;
        }
      }
    }
    .commText{
      .name{ font-weight: bold; }
      .commRS{
        padding-top: 20px;
      }
    }
  }


/* CSS temporal - Porto */
  .communityElement .commImage { position: relative; }
  .communityElement .commImage img { width: 100%; }
  .communityElement .commImage .commDelete {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: block;
    padding: 2px 4px;
    background-color: white;
    color: #FF2222;
    font-size: 20px;
    cursor: pointer;
  }
}

/**************************************************************************************/
/**************************************************************************************/
/**********************  RESPONSIVE MEDIA QUERIES  ************************************/
/**************************************************************************************/
/**************************************************************************************/
@media screen and (min-width: 1200px) {

} /*1200px*/
@media screen and (max-width: 1199px) {

} /*1199px*/
@media screen and (max-width: 991px) {

} /*991px*/
@media screen and (max-width: 767px) {

} /*767px*/
