@import "primary.less";
@import "/explorer/classes/view/templates/styles/explorerMixins.less";

.explorerLayout{
  .mixinDevel();
  .explorerBase( );
  .explorerLayoutSagan( @explDu-w: 100%, @explDu-h: 100%, @explMap-w: 60%, @explMap-h: 100%, @explFilter-w: 400px,
     @explFilter-h: 150px, @explGallery-w: 40%, @explGallery-h: 100% );
}

.aloxamentosExplorer{
  position: fixed;
  top:@headerTitleBarHeight;
  width: 100%;

  .explorerMap{
    width: 100% !important;
    height: 100% !important;
  }
  .explorer-container-filter{
    background-color: rgba(255, 255, 255, 0.6);
  }
  .explorer-container-gallery{
    border-top:1px solid @gzzColor-bck-4;
    position: relative;
  }
}

/**************************************************************************************/
/**************************************************************************************/
/**********************  RESPONSIVE MEDIA QUERIES  ************************************/
/**************************************************************************************/
/**************************************************************************************/
@media screen and (min-width: 1200px) {

} /*1200px*/
@media screen and (max-width: 1199px) {

}/*1199px*/
@media screen and (max-width: 991px) {

}/*991px*/
@media screen and (max-width: 767px) {

} /*767px*/
