// Global Styles

html, body {
  height: 100%;
	margin: 0px;
}

body {
  position:relative;
}

.headContent{
  position: fixed;
  z-index: 102;
  width: 100%;
  height: @headerHeight;
  opacity: 0.7;
  background: #fff;
}
.bodyContent{
  width: 100%;
  padding-top: @headerHeight;
}
