// Global Styles

html, body {
  height: 100%;
	margin: 0px;
}

body {
  position:relative;
  color: #555;
}

.headContent{
  position: fixed;
  z-index: 102;
  width: 100%;
  height: @headerHeight;
  background: url('/media/img/cabecera.png') repeat-x;

  .navbar{
    background: transparent;
    border:none;
    margin-bottom: 0;
    padding-top: 28px;

    .logo{
      margin: 0 5px;
    }
    .navbar-nav{
      margin-top: 10px;
      li{
        margin-left: 10px;
        text-transform: uppercase;
        a{
          color: @gzzColor-text-light;
          padding: 5px;
          font-size: 16px;
        }
        &:hover a{
          color: @gzzColor-text-light;
        }
        &.active a{
          font-weight: bold;
          background: transparent;
        }
        &.dropdown.open{
          .dropdown-menu {
            padding: 10px;
            border: 3px solid #374643;
            background: #435553;

            li{ margin: 0px; }
            a{ color: @gzzColor-text-light;  font-size: 14px;}
          }
          a{
           background: none;
          }
        }
      }//li
    }//.navbar-nav
  }
}
.bodyContent{
  width: 100%;
  padding-top: @headerHeight;

  .titleBar{
    padding: 5px 0px;
    height: @titleBarHeight;

    img{
      position: absolute;
      z-index: 110;
      height: 64px;
      width: 64px;
    }
    h1{
      font-size: 22px;
      margin-top: 0px;
      margin-bottom: 0px;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      padding-left: 74px;
      color: @gzzColor-text-dark-2;
      font-weight: normal;
    }
  }
}

.commonFav{
  list-style: none;
  color: @gzzColor-fav;

  .fa-heart{ display:none; }
  .fa-heart-o{ display: inline; }

  &:hover{
    .fa-heart{ display:inline; }
    .fa-heart-o{ display: none; }
  }
  &.selected{
    .fa-heart{ display:inline; }
    .fa-heart-o{ display: none; }
  }
}
