// Global Styles

html, body {
  height: 100%;
	margin: 0px;
}

body {
  position:relative;
  color: #555;
}

.headContent{
  position: fixed;
  z-index: 102;
  width: 100%;
  height: @headerHeight;
  background: #333;

  .navbar{
    background: transparent;
    border:none;
    margin-bottom: 0;
    padding-top: 50px;

    .logo{
      margin: 0 5px;
    }
  }
}
.bodyContent{
  width: 100%;
  padding-top: @headerHeight;
}
