/* TEMPORAL STYLES*/
#explorerSectionExample{
  height: 600px;
  margin: 0px 40px;
  overflow: auto;
}

.explorerMap{
  width: 100% !important;
  height: 100% !important;
}
.paisaxesExplorer{
  position: fixed;
  top:100px;
  width: 100%;
}
/*REAL STYLES*/
